/* CSS common file to style the website */

/* css for the whole page */
body {
	font-family: Cambria;
	background-color: #7C6A6A;
	color: black;
}

/* css for the buttons, use class name to implement */
.button {
	background-color: #99FFFF;
	color: black;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 10px;
	border: none;
	border-radius: 10px;
}

/* make .button class change color when hovered above */
.button:hover {
	background-color: #00FFAA;
	box-shadow: 0 2px 1px;
}

/* heading style */
h1 {
	background-color: #FFB24F;
	text-align: center;
}

/* container content style */
.container_content {
	text-align: center;
}

/* normal text style */
.content_text {
	background-color: #FFB24F;
	display: inline-block;
	margin: 10px;
	padding: 5px;
}

/* creates a special place at the center of the screen */
.center_screen {
	position: absolute;
	background-color: #FFB24F;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	padding: 1rem 2rem;
	border-radius: 10px;
}

/* adds some space between text lines */
.center_screen p {
	margin-bottom: 30px;
}

/* css for tables */
.table {
	margin:auto;
	border-collapse: collapse;
	text-align: center;
	background-color: #FFB24F;
}

/* css for tables */
th, td {
	padding: 15px;
	border: 5px solid;
	margin-bottom: 30px;
}

/* css for tables */
tr {
	border: 5px solid;
}

/* adds a seperation border */
.noborder {
	border: 0px solid;
}